<%- contentFor('style') %>
<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/order.css" />

<%- contentFor('body') %>
<!-- body -->
<% if (orders.length <= 0) { %>
<h1>Nothing there!</h1>
<% } else { %>
<ul class="orders">
    <% for (const order of orders) { %>
    <li class="orders__item">
        <h1>Order - # <%= order.id %></h1>
        <ul class="orders__products">
            <% order.items.forEach(item => { %>
            <li class="orders__products-item"><%= item.product.title %> (<%= item.quantity %>)</li>
            <% }); %>
        </ul>
    </li>
    <% } %>
</ul>
<% } %>
<!-- body -->
