<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partial/head.ejs') %>
    </head>

    <body>
        <header class="main-header">
            <%- include('../partial/header.ejs') %>
            <link rel="stylesheet" href="/css/product.css" />
            <link rel="stylesheet" href="/css/cart.css" />
        </header>

        <main>
            <% if (cartProducts.length > 0) { %>
            <ul class="cart__item-list">
                <% cartProducts.forEach(p => { %>
                <li class="cart__item">
                    <h1><%= p.title %></h1>
                    <h2>Quantity: <%= p.CartItem.quantity %></h2>
                    <form action="/cart/delete" method="POST">
                        <input type="hidden" value="<%= p.id %>" name="productId" />
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </li>
                <% }) %>
            </ul>
            <% } else { %>
            <h1>No Products in Cart!</h1>
            <% } %>
        </main>
    </body>
</html>
